<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="EmployeesRestAPISuite">

	<test thread-count="3" name="EmployeesRestAPITest">
		<classes>
		<class name="testcase.Request2" />
			<class name="testcase.TC001getreq" />
			
		
			<class name="testcase.xmlreq" />
		
			

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->